{
    "presets": [
        [
            "babel-preset-es2015",
            {
                "modules": false
            }
        ],
        "stage-1"
    ],
    "plugins": [
        "babel-plugin-transform-runtime"
    ]
}
